# Создание дашборда по пользовательским событиям для агрегатора новостей

В данном проекте мы анализируем пользовательские взаимодействия с карточками статей на Яндекс.Дзен. Каждая карточка имеет тему и источник (у источника тоже есть тема). Есть три способа взаимодействия пользователей с карточками: отображение карточки (show); клик по карточке (click); просмотр статьи карточки (view). 

Наша задача - выяснить: сколько взаимодействий пользователей с карточками происходит в системе с разбивкой по темам карточек; как много событий генерируют источники с разными темами; как соотносятся темы карточек и темы источников. 

Мы выгрузим cырые данные о событиях взаимодействия пользователей с карточками (таблица log_raw) из базы данных PostgreSQL. Затем здесь в тетрадке запишем ее как csv-файл для дальнейшего использования. Для визуализации анализа мы построим дашборд в Tableau.

In [13]:
# импортируем библиотеки
import pandas as pd
from sqlalchemy import create_engine

Подключимся к БД PostgreSQL.

In [18]:
# пропишем параметры присоединения к БД
db_config = {'user': '*****', # имя пользователя
            'pwd': '*****', # пароль
            'host': '*****',
            'port': ****, # порт подключения
            'db': '*****'} # название базы данных

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                db_config['pwd'],
                                                db_config['host'],
                                                db_config['port'],
                                                db_config['db'])

engine = create_engine(connection_string)

Напишем запрос в SQL и затем сохраним данные из БД в таблицу pandas.

In [19]:
# наш SQL-запрос
query = ''' SELECT *
            FROM log_raw
        '''

In [23]:
# сохраним данные из запроса в таблицу
dash_visits = pd.io.sql.read_sql(query, con = engine)

In [24]:
# взглянем на первые строки таблицы
dash_visits.head()

   record_id item_topic source_topic age_segment                  dt  visits
0    1040597     Деньги         Авто       18-25 2019-09-24 18:32:00       3
1    1040598     Деньги         Авто       18-25 2019-09-24 18:35:00       1
2    1040599     Деньги         Авто       18-25 2019-09-24 18:54:00       4
3    1040600     Деньги         Авто       18-25 2019-09-24 18:55:00      17
4    1040601     Деньги         Авто       18-25 2019-09-24 18:56:00      27

In [25]:
# запишем таблицу в csv-файл
dash_visits.to_csv('dash_visits.csv')

Создан файл dash_visits.csv. Дальше будем работать с ним в Tableau.

Создан дашборд со следующими элементами:
1. История событий по темам карточек; 
2. Разбивка событий по темам источников;  
3. Таблица соответствия тем источников темам карточек.

Ссылка на дашборд в Tableau:
https://public.tableau.com/app/profile/dana.muratbek/viz/ZenVisits_16237006482060/ZenDashboard